body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    background-image: url(https://image.shutterstock.com/image-vector/amazon-jungle-trees-wilderness-600w-92162701.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;

}

.row {}

header {
    border-bottom: #3baf41 3px solid;
}

nav .brand-logo {
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 1.9rem;
    text-align: center;
}

h2 {
    color: #000000;
    font-size: 3rem;
    font-weight: normal;
    text-align: center;
    border: 2.5px ridge #695b50;
    background: #fff9c4;

}

p {
    color: #000000;
    background: #fff9c4;
    font-size: 1.5rem;
    border: 1px ridge #695b50;
}

.startbtn {
    margin-left: 4rem;
    margin-top: 3rem;
}

footer {
    padding: 0;
    text-align: center;
    line-height: 56px;
}

.yellow.lighten-4 {
    margin-bottom: 3rem;
}

.edit {
    margin-top: 12px;
    margin-left: 3rem;
    padding-left: 30px;
}

.delete {
    margin-top: 12px;
}

.responsive-img {
    max-height: 500px;
    max-width: 500px;
    height: auto;
    width: auto;
}

.left {
    float: left;
    padding-left: 6px;
    margin-right: 5px;
}

.btncontact {
    margin-left: 3rem;
    padding-left: 0rem;
    padding-right: 1rem;
}

@media (min-width: 768px) and (max-width: 991.98px) {
    
    .btnaddspot {
        margin-left: 8rem;
    }

    .edit {
        margin-left: 11rem;
    }

    nav .brand-logo {
        font-size: 2.6rem;
        line-height: 4rem;

    }
    .indexheader {
        font-size: 3.1rem;
        margin-top:7rem;
    }
    
    .indexpar {
    margin-top: 3rem;
    margin-left: 6rem;
    font-size: 1.9rem;
}

    .startbtn {
    font-size: 1.8rem;
    margin-left: 10rem;
    /* margin-top: 2rem; */
}
    
   
}
