{% extends 'base.html' %} {% block content %}
<div class="container">
  <h2>Your spotted animal</h2>
  <form class="form yellow lighten-4" action="{{ url_for('insert_spot') }}" method="POST" class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">fingerprint</i>
        <input id="animal_name" name="animal_name" type="text">
        <label for="icon_prefix">Animal name</label>
        
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">subject</i>
        <textarea name="animal_description" id="animal_description" class="materialize-textarea"></textarea>
        <label for="icon_prefix">Animal Description</label>
      </div>
    </div>

  <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">class</i>
        <select id="animal_class" name="animal_class" type="text">
                        <option value="mammal">Mammals</option>
                        <option value="birds">Birds</option>
                     </select>
      </div>
    </div>
  
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">wc</i>
        <select id="animal_gender" name="animal_gender" type="text">
           <option value="" disabled selected>Choose Gender</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="unknown">Unknown</option>
          </select>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">pin_drop</i>
        <textarea name="animal_location" id="animal_location" class="materialize-textarea"></textarea>
        <label for="icon_prefix">Location</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">today</i>
        <input id="date_found" name="date_found" type="text" class="datepicker">
        <label for="icon_prefix">Date Found</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">insert_photo</i>
        <textarea name="animal_image" id="animal_image" class="materialize-textarea"></textarea>
        <label for="icon_prefix">Image URL</label>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <button class="btn btnaddanimal waves-effect waves-light green" type="submit" name="action">Add Animal
                <i class="material-icons right">playlist_add</i>
             </button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
