{% extends 'base.html' %} {% block content %}

<div class="container">
    <div class="row">
        <div class="col s12">
            <h2>Hello Wildlife Explorer</h2>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <p>Are you ready to become a true explorer? Do you like to search for wildlife near you? If you say yes to these two questions there is only one thing left to do! That is to click the button below.</p>
        </div>
        <div class="row">
            <div class="col s12"><a href="add_spot" class="btn btn green">Click me</a></div>
        </div>
    </div>
</div><!--end container -->


{% endblock %}