{% extends 'base.html' %} {% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <h2>Hello Wildlife Explorer</h2>
        </div>
        <p>Are you ready to become a true explorer? Do you like to search for wildlife near you? And do you want to catch them all? If you say yes to these three questions there is only one thing left to do! That is to click the button below.
        <button type="button" class="btn btn-success">Click me</button>
        </p>
    </div>
</div>
{% endblock %}