{% extends 'base.html' %} {% block content %}

<ul class="collapsible popout" data-collapsible="accordion">
    {% for spotlist in spotlists %}
    <li>
        <div class="collapsible-header">
            <div class="col s3">
                <img class="responsive-img" src="{{spotlist.animal_image}}"> {{spotlist.animal_name}}
            </div>
            <div class="col s8">
                <i class="material-icons">expand_more</i>
            </div>

            <div class=" spotlist_header col s6">
            </div>
        </div>

        <div class="collapsible-body">
            <span>
                    {{spotlist.animal_location}}<br> 
                    {{spotlist.date_found}}
            </span>
        </div>
    </li>

    <div class="row">
        <div class="col s6"><a href="{{url_for('edit_spot', spotlist_id=spotlist._id)}}" class=" edit waves-effect waves-light btn">Edit</a>
            <div class="col s6"><a href="{{url_for('delete_spot', spotlist_id=spotlist._id)}}" class=" delete waves-effect waves-light btn red">Delete</a>
            </div>
        </div>
    </div>

    {% endfor %}
</ul>
{% endblock %}
