{% extends 'base.html' %} {% block content %}

<ul class="collapsible popout" data-collapsible="accordion">
    {% for spotlist in spotlists %}
    <li>
        <div class="light-green lighten-1 collapsible-header">
            <div class="col s3">
                <img class="responsive-img" src="{{spotlist.animal_image}}"> <b class ="b-tag"><br>{{spotlist.animal_name}}</b>
            </div>
            <div class="col s8">
                <i class="material-icons">expand_more</i>
            </div>

            <div class=" spotlist_header col s6">
            </div>
        </div>

        <div class="yellow lighten-4 collapsible-body">
            <span>
                    <b>Location last seen:</b> {{spotlist.animal_location}}<br> 
                    <b>Animal class:</b> {{spotlist.animal_class}}<br>
                    <b>Date seen:</b> {{spotlist.date_found}}<br>
                    <b>Gender is a:</b> {{spotlist.animal_gender}}
            </span>
        </div>
    </li>

    <div class="row">
        <div class="col s12"><a href="{{url_for('edit_spot', spotlist_id=spotlist._id)}}" class=" edit waves-effect waves-light btn green">Edit</a>
            <a href="{{url_for('delete_spot', spotlist_id=spotlist._id)}}" class=" delete waves-effect waves-light btn red">Delete</a>
        </div>
    </div>

    {% endfor %}
</ul>

   
{% endblock %}
