{% extends 'base.html' %} {% block content %}

<ul class="collapsible" data-collapsible="accordion">
    {% for spotlist in spotlists %}
    <div class="container col s3">
        <div class="row">
            <img src="{{spotlist.animal_image}}" height="150" width="150">
        </div>
    </div>
    <li>
        <div class="collapsible-header">

            <div class=" spotlist_header col s9">
                <label>animal</label><i class="material-icons">expand_more</i>{{spotlist.animal_name}}
            </div>
        </div>
    
        <div class="collapsible-body">
            <span>
                    {{spotlist.animal_location}} 
                    
                </span>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}
